<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon ios="paper" md="md-paper"></ion-icon>      
      <ion-label>Receipts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon ios="time" md="md-time"></ion-icon>      
      <ion-label>Expired</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
