.receipt-card{
    background: yellowgreen;
    position: relative;
    padding: 10px;

    .view-receipt{
        font-size: 30px;
        position: absolute;
        top: 25px;
        right:10px;

        &:hover{
            color:white;
        }
    }
}