<ion-header>
  <ion-toolbar>
    <ion-title>My Reciepts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="receipt-card" *ngFor="let i of [0,1,2]">

    <label><strong>Zara</strong></label> <span> (Today) </span>

    <p>Sum : ${{i+1 * 10}}</p>   
    <ion-icon class="view-receipt" ios="ios-eye" md="md-eye"></ion-icon>

  </ion-card>

</ion-content>
